<!--EVENTOS-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-top text-center order-md-1 order-1 mb-md-0 mb-4">
        <a href="{{URL}}/evento/{{codigo}}">
          <img src="{{URL}}/files/eventos/2021/{{codigo}}.jpg"  class="img-fluid" alt="{{local}}" title="{{nome}}">
        </a>
      </div>
      <div class="col-md-6 align-self-center order-md-2 order-2">
        <h3 class="title">{{codigo}}</h3>
        <h4 class="subtitle">{{nome}}</h4>
        <p>{{local}}</p>
        <a href="{{URL}}/evento/{{codigo}}" class="btn btn-secondary">Leia mais</a>
      </div>
    </div>
  </div>
</div>
<!--//EVENTOS-->
