<link href="{{URL}}/resources/css/responsive-calendar.css" rel="stylesheet" media="screen">
<!-- Responsive calendar - START -->
    <div class="responsive-calendar">
      <div class="controls">
          <a class="pull-left" data-go="prev"><div class="btn btn-primary"><i class="bi-caret-left-fill" style="font-size: 1rem; color: white"></i></div></a>
         <span data-head-month class="data-head-month" style="font-weight:bold; font-size:14px;"></span> <span data-head-year class="data-head-year" style="font-weight:bold; font-size:14px;"></span>
          <a class="pull-right" data-go="next"><div class="btn btn-primary"><i class="bi-caret-right-fill" style="font-size: 1rem; color: white"></i></div></a>
      </div>
      <hr/>
      <div class="day-headers">
        <div class="day header">Seg</div>
        <div class="day header">Ter</div>
        <div class="day header">Qua</div>
        <div class="day header">Qui</div>
        <div class="day header">Sex</div>
        <div class="day header">Sáb</div>
        <div class="day header">Dom</div>
      </div>
      <div class="days" data-group="days">
      </div>
    </div>
<span id="descricao-calendar"></span>
<!-- Responsive calendar - END -->
<script src="{{URL}}/resources/js/responsive-calendar.js"></script>
<script>
  function exibeDescricao(value) {

      const result = fetch('{{URL}}/calendario')
          .then((response) => response.json())
          .then((data) => {

                  let linkEvent = [];
                  for (let i = 0; i < data.length; i++) {
                      if (data[i].data == value) {
                          let link = `{{URL}}/evento/${data[i].codigo}`;

                      linkEvent.push(`<p><a style='text-decoration:none;' href='${link}'>${data[i].nome}</a></p>`);
                  }
              }
              document.getElementById('descricao-calendar').innerHTML = linkEvent.join(' ');
          });
  }

  $(document).ready(function() {
      dataEvents: [];
      data = new Date();
      mesAtual = data.getMonth() + 1;
      anoAtual = data.getFullYear();
      dataAtual = anoAtual + '-' + mesAtual;

      const result = fetch('{{URL}}/calendario')
          .then((response) => response.json())
          .then((data) => {

              var str = "";
              var teste = "";
              for (j = 0; j < data.length; j++) {
                  if (j == 0) {
                      str += '"' + data[j].data + '":{}';
                  } else {
                      str += ',"' + data[j].data + '":{}';
                  }
              };
              var dates = "{" + str + "}";
              var nomes = teste

              $(".responsive-calendar").responsiveCalendar({
                  events: JSON.parse(dates),
                  onDayClick: function(events) {

                      var year = $(this).data('year')
                      var month = $(this).data('month').toString();
                      var day = $(this).data('day').toString();

                      if (month.length === 1) {
                          month = "0" + month;
                      }

                      if (day.length === 1) {
                          day = "0" + day;
                      }

                      var dayLink = `${year}-${month}-${day}`;
                      exibeDescricao(dayLink);
                  }
              });
          });
  });
</script>
