:root{
  --primary: #0c354b !important;
  --primary-dark: #05151e !important;
  --primary-light: #637d8b !important;
  --secondary: #b68f61 !important;
  --secondary-dark: #58452f !important;
  --secondary-light: #cfb596 !important;
  --light: #8f969a;
  --medium: #5f686d;
  --dark: #13181a;
}
