<footer>
    <div class="wm-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <p class="footer_p">Escola da Magistratura do Estado do Rio de Janeiro - CNPJ 35.949.858/0001-81</p>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <p class="footer_p"><span>Rua Dom Manuel, nº 25 - Centro - CEP 20010-090 - </span><span>Telefone: <a href="tel:21-3133-3369">(21) 3133-3369</a></span></p>
            </div>
                <div class="col-md-6">
                    <div class="col-md-3 col-xs-6 col-sm-3"><a href="../paginas/iso9001/iso.htm"><img src="{{URL}}/includes/imgs/ISO9001-2015.fw.png" alt="Imagem que representa a Certificação NBR ISO 9001:2015" title="Certificação NBR ISO 9001:2015" class="img-responsive"></a></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 col-xs-6 col-sm-3"><a href="../paginas/transparencia/transparencia_institucional.html"><img src="{{URL}}/includes/imgs/acesso-a-informacao.fw.png" alt="Imagem que representa a Transparência Institucional" title="Transparência Institucional" class="img-responsive"></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
