<!--// Header \\-->
<header id="wm-header" class="wm-header-one">
  <!--// TopStrip \\-->
  <div class="wm-topstrip">
    <div class="container-layout">
      <div class="row">
        <div class="col-md-12">
          <div class="wm-language col-sm-12 col-md-12 col-lg-6 col-xs-12">
            <ul>
              <div class="wm-service_logoprincipal wm-box-service_logoprincipal">
                <ul>
                  <li>
                    <div class="wm-box-service-wrap_logoprincipal wm-bgcolor" id="box_logomarca_principal"><a href="https://www.emerj.tjrj.jus.br/"><img src="images/logo_emerj_principal.png" class="img-responsive" alt="logomarca que representa a Escola da Magistratura do Estado do Rio de Janeiro - EMERJ" title="Escola da Magistratura do Estado do Rio de Janeiro" id="logomarca_principal"></a></div>
                    <div id="logomarca_principal_responsiva" align="center"><a href="https://www.emerj.tjrj.jus.br/"><img src="images/logo_emerj_principal.png" class="img-responsive" alt="logomarca que representa a Escola da Magistratura do Estado do Rio de Janeiro - EMERJ" title="Escola da Magistratura do Estado do Rio de Janeiro" id="logomarca_principal"></a></div>
                  </li>
                </ul>
              </div>
              <h1 id="h1_principal"><a href="https://www.emerj.tjrj.jus.br/" id="link_h1">Escola da Magistratura do Estado do Rio de Janeiro</a></h1>
            </ul>
          </div>
          <div id="google_translate_element" class="boxTradutor"></div>
            <ul class="wm-adminuser-section">
              <li>
                <a href="javascript:trocarIdioma('es')"><img src="images/bandeiras/spain.png" alt="ícone da bandeira que traduz para o idioma Espanhol"></a>
                <a href="javascript:trocarIdioma('fr')"><img src="images/bandeiras/france.png" alt="ícone da bandeira que traduz para o idioma Francês"></a>
                <a href="javascript:trocarIdioma('en')"><img src="images/bandeiras/united-kingdom.png" alt="ícone da bandeira que traduz para o idioma Inglês"></a>
                <a href="javascript:trocarIdioma('pt')"><img src="images/bandeiras/brazil.png" alt="ícone da bandeira que traduz para o idioma Português"></a>
              </li>
              <li style="padding-top: 0.25em;">
                <a href="https://www.facebook.com/emerjoficial" target="_blank" class="redes_sociais"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="https://www.instagram.com/emerjoficial/" target="_blank" class="redes_sociais"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/emerjoficial" target="_blank" class="redes_sociais"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.youtube.com/user/EMERJeventos?feature=mhee" target="_blank" class="redes_sociais"><i class="fab fa-youtube fa-2x"></i></a>
                <a href="https://www.flickr.com/photos/emerjoficial/albums" target="_blank" class="redes_sociais"><i class="fab fa-flickr fa-2x"></i></a>
                <a href="https://www.tiktok.com/@emerjoficial" target="_blank" class="redes_sociais"><i class="fab fa-tiktok fa-2x"></i></a>
              </li>
              <li><a href="https://www.emerj.tjrj.jus.br/faleconosco.html" id="fale_conosco">Fale Conosco</a></li>
              <li><a href="#" class="wm-search-btn" data-toggle="modal" data-target="#ModalSearch" id="pesquisa_search"><i class="wmicon-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--// TopStrip \\-->

    <div class="wm-main-header">
      <div class="container">
        <div class="row">
          <div class="col-md-2">&nbsp;</div>
            <div class="col-md-12 col-sm-12 col-lg-10 col-xs-12">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div id="lista_acessorapido" class="wm-service wm-box-service">
                  <ul class="col-md-12 col-lg-12 col-sm-12">
                    <li class="botoes_acessorapido">
                      <a href="../paginas/magistrados/magistrados.html">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_magistrados">
                          <i class="wmicon-suitcase"></i>
                          <h6 class="h6_acessorapido">Magistrados</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="../paginas/eventos/eventos_emerj_gratuitos.html">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_eventos">
                          <i class="wmicon-technology2"></i>
                          <h6 class="h6_acessorapido">Eventos</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="../paginas/cursos/cursos_abertos/cursos_abertos.html">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_cursosabertos">
                          <i class="wmicon-technology3"></i>
                          <h6 class="h6_acessorapido">Cursos Abertos</h6>
                        </div>
                        </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="../paginas/publicacoes/publicacoes_todas.html">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_publicacoes">
                          <i class="wmicon-book2"></i>
                          <h6 class="h6_acessorapido">Publicações</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="../portal_aluno/index.html" target="_blank">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_portaldoaluno">
                          <i class="wmicon-social7"></i>
                          <h6 class="h6_acessorapido">Portal do Aluno</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="../paginas/concursos/concurso-publico-para-selecao-e-ingresso-na-emerj.html">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_concursos">
                          <i class="wmicon-pen"></i>
                          <h6 class="h6_acessorapido">Concursos</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido">
                      <a href="https://virtual.emerj.com.br/" target="_blank">
                        <div class="wm-box-service-wrap wm-bgcolor" id="botao_acessorapido_emerjvirtual">
                          <i class="wmicon-computer"></i>
                          <h6 class="h6_acessorapido">EMERJ Virtual</h6>
                        </div>
                      </a>
                    </li>
                    <li class="botoes_acessorapido" id="botoes_acessorapido_nucleos">
                      <a href="../paginas/nucleos-de-pesquisa/nucleos-de-pesquisa.html">
                        <div class="wm-box-service-wrap wm-bgcolor">
                          <i class="wmicon-shape"></i>
                          <h6 class="h6_acessorapido">Núcleos de Pesquisa</h6>
                        </div>
                      </a>
                    </li>
                  </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <!--// MainHeader \\-->
     <!--// Navigation \\-->
    <div id="header">
      <div class="container">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{URL}}/site#container-principal" title="Link para página principal - Tecla de atalho (1)." accesskey="1">EMERJ</a>
              <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarNav"
               aria-controls="navbarNav"
               aria-expanded="false"
               aria-label="Toggle navigation"
               >
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
               {{menu}}
             </div>
           </nav>
         </div>
       </div>
     </div>
     <!--// Navigation \\-->
  </header>
