<div id="header">
    <div class="container">
      <div class="container-fluid">
        <nav
          class="navbar navbar-expand-lg navbar-dark bg-primary"
        >
       <a class="navbar-brand" href="{{URL}}/site#container-principal" title="Link para página principal - Tecla de atalho (1)." accesskey="1">EMERJ</a>
       <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNav"
         aria-controls="navbarNav"
         aria-expanded="false"
         aria-label="Toggle navigation"
       >
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
          {{menu}}
       </div>
     </nav>
   </div>
 </div>
</div>
