<div id="conteudo-home" tabindex="1">
  <section id="carrossel-biblioteta">
    <div  class="container block">
        <div class="row">

          <div class="col-md-8 mb-5 px-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                {{indicators}}
              </div>
              <div class="carousel-inner">
                {{slider}}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- Fim do Carousel -->
          <!-- Início da coluna destaque Revista e biblioteca -->
          <div class="col-md-4">
            <div class="row">
              <div class="card mb-3" id="destaque-capa-revista" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{URL}}/files/eventos/2021/8025.jpg" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body align-text-bottom">
                      <h5 class="card-title" id="card-title-destaque-capa-revista">Revista Direito em Movimento</h5>
                      <p class="card-text">É uma ferramenta institucional que objetiva construir uma relação de proximidade do DIREITO com as demais CIÊNCIAS SOCIAIS.</p>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                        <a type="button" class="btn btn-primary">Ver Revistas</a>
                        <a type="button" class="btn btn-outline-primary">Submeter Artigo</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card mb-3" id="destaque-capa-biblioteca">
                <div class="row g-0">
                  <div class="col-md-8 order-md-1 order-2">
                    <div class="card-body text-end">
                      <h5 class="card-title" id="card-title-destaque-capa-biblioteca">Biblioteca</h5>
                      <p class="card-text">Espaço revitalizado, mais moderno, adaptados às novas tecnologias e preparado para que os usuários possam desfrutar de muito conhecimento e cultura.</p>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                        <a type="button" class="btn btn-secondary">Ver Revistas</a>
                        <a type="button" class="btn btn-outline-secondary">Submeter Artigo</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 order-md-2 order-1">
                    <img src="{{URL}}/files/eventos/2021/8014.jpg" class="img-fluid rounded" alt="...">
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- Fim do destaque de Revista e Biblioteca -->
        </div>
    </div>
  </section>

  <section>
    <div id="conheca-cursos" class="block">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 col-xs-12">
                  <h2 class="text-center">Conheça nossos Cursos</h2>
                  <h4 class="text-center">A EMERJ oferece cursos em diversas áreas do Direito.</h4>
                  <div class="row">
                    <div class="col-4" id="cursos-magistrados">
                      Cursos para Magistrados
                    </div>
                    <div class="col-4" id="cursos-latosensus">
                      Pós Graduação Lato Sensu
                    </div>
                    <div class="col-4" id="cursos-direito-publico">
                      Curso de Especialização em Direito Público e Privado
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4" id="cursos-extensao">
                      Curso de extensão
                    </div>
                    <div class="col-4" id="cursos-livre">
                      Pós Graduação Lato Sensu
                    </div>
                    <div class="col-4" id="cursos-premerj">
                      PREMERJ
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section id="conheca_a_emerj" class="block">
    <div class="conheca-pagina-principal">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                  <h2 class="text-center">Conheça a EMERJ</h2>
                  <p class="text-center">Criada há mais de 30 anos, a Escola da Magistratura do Estado do Rio de Janeiro tem a missão de formar, aperfeiçoar magistrados e disseminar o conhecimento jurídico, promovendo a indispensável atualização aos operadores do Direito. Seja no Curso de Especialização em Direito Público e Privado ou nos Cursos de Especialização em diversas áreas do Direito, todos em nível de pós-graduação <i>lato sensu</i>, credenciados pelo Conselho Estadual de Educação, a EMERJ busca oferecer a seus alunos o aprimoramento do raciocínio e do conhecimento jurídico atualizado, alicerçado em sólidos valores éticos. Tradição na educação e instalações modernas e confortáveis fazem da EMERJ uma escola que é referência no ensino jurídico no Brasil.</p>

                </div>
            </div>
        </div>
    </div>
  </section>

  <section id="por-dentro" class="block">
    <div class="fique-por-dentro">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 col-xs-12">
                  <h2>Fique por Dentro</h2>
                  <div class="row">
                    <div class="col-4" id="eventos-gravados">
                      Eventos Gravados
                    </div>
                    <div class="col-4" id="biblioteca-cultura">
                      Biblioteca e Cultura
                    </div>
                    <div class="col-4" id="evento-externo">
                      Evento Externo
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section id="assinatura" class="block">
    <div class="newsletter">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 col-xs-12">
                  <h2>Gostaria de receber e-mails sobre os cursos, eventos, informativos...</h2>
                  <a type="button" class="btn btn-primary">Cadastre-se</a>
                  </div>
            </div>
        </div>
    </div>
  </section>

  <section id="youtube-calendar" class="block">
    <div class="conheca-pagina-principal">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-5">
            <h2 class="pb-5">Webinar Ao Vivo</h2>
            <div class='embed-container'>
              <iframe src='https://www.youtube.com/embed/zPSrwvUKg7o' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h2>Calendário de Eventos</h2>
            {{calendario}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre" class="block">
    <div class="sobre-emerj">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 col-xs-12">
                  <h2>Sobre a EMERJ</h2>
                  <div class="row">
                    <div class="col-6">
                      Os cursos de extensão da Escola da Magistratura do Estado do Rio de Janeiro (EMERJ) têm duração máxima de 60 horas. Destinados ao público em geral, não apresentam pré-requisitos e são ideais para a atualização de conhecimento, a curto prazo, numa determinada área do Direito.
                    </div>
                    <div class="col-6">
                      Instalados por decisão da Diretora-Geral da Escola da Magistratura do Estado do Rio de Janeiro – EMERJ, os Fóruns Permanentes da Escola da Magistratura do Estado do Rio de Janeiro, presididos por magistrados da ativa ou aposentados, e realizados pelo Departamento de Desenvolvimento do Conhecimento Multidisciplinar – DEDES, são uma excelente maneira de formar e manter a excelência em diversos campos do saber jurídico em relação às novas contribuições que subsidiam tais áreas e das ciências que atendam ao interesse geral da EMERJ e do Poder Judiciário.
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>

</div>
