<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{URL}}/includes/imgs/icons/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="{{URL}}/resources/css/linktree.css">

    <title>{{titulo}}</title>
  </head>
  <body>
    <!-- HAEDER -->
    {{content}}
    <script src="{{URL}}/resources/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
