<!--NOTÍCIAS-->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 align-self-center text-center pt-3">
        <h3 class="title">{{curso_titulo}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-self-center text-center pt-3">
        <a type="button" class="btn btn-transparente" data-bs-toggle="modal" data-bs-target="#ModalImgCurso">
          <img src="{{URL}}/files/cursos/images/200_{{id}}_{{curso_img}}"  class="img-fluid" alt="{{curso_imgalt}}" title="{{curso_imgtittle}}">
          <br>clique para ampliar
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-3">
        {{curso_conteudo}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-3">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalPDFCurso">Programação</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-3">
        {{curso_obs}}
      </div>
    </div>
  </div>
</div>
<!--//NOTÍCIAS-->
<!-- Modal Imagem -->
<div class="modal fade" id="ModalImgCurso" tabindex="-1" aria-labelledby="ModalImgCursoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalImgCursoLabel">{{curso_imgtittle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{URL}}/files/cursos/images/1080_{{id}}_{{curso_img}}"  class="img-fluid" alt="{{curso_imgalt}}" title="{{curso_imgtittle}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal PDF -->
<div class="modal fade" id="ModalPDFCurso" tabindex="-1" aria-labelledby="ModalPDFCursoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalPDFCursoLabel">{{curso_imgtittle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <embed src="{{URL}}/files/cursos/editais/{{pdf_edital}}" id="modal-pdf" frameborder="0">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
