<li>
  <div style="margin-left: 10px; font-size: 16px;"><i class="bi-person-fill" style="font-size: 1.2rem; max-height:18px; margin-right: 5px; color: steelblue;"></i><strong>{{nomeUser}}</strong></div>
  <div style="margin-left: 10px; font-size: 12px;"><i class="bi-envelope" style="font-size: 1rem; max-height:15px; margin-right: 5px; color: steelblue;"></i>{{emailUser}}</div>
  <div style="margin-left: 10px; font-size: 12px;"><i class="bi-house" style="font-size: 1rem; max-height:15px; margin-right: 5px; color: steelblue;"></i>{{departamentoUser}}</div>
</li>
<li><hr class="dropdown-divider"></li>
<li>
  <a class="dropdown-item" href="/profile?id={{idUser}}&perfil={{perfilIdUser}}"><i class="bi-person-check" style="font-size: 1rem; max-height:15px; margin-right: 5px; color: blue;"></i>Meu perfil</a>
</li>
<li>
  <a class="dropdown-item" href="{{URL}}/admin/logout"><i class="bi-box-arrow-right" style="font-size: 1rem; max-height:15px; margin-right: 5px; color: red;"></i>Logout</a>
</li>
