
<!--NOTÍCIAS-->
<div id="sobre" class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-top text-center order-md-1 order-1 mb-md-0 mb-4">
        <a href="{{URL}}/noticia/{{id}}">
          <img src="{{URL}}/files/noticias/images/450_{{id}}_{{noticia_img}}"  class="img-fluid" alt="{{noticia_imgalt}}" title="{{noticia_imgtittle}}">
        </a>
      </div>
      <div class="col-md-6 align-self-center order-md-2 order-2">
        <h3 class="title">{{noticia_titulo}}</h3>
        <h4 class="subtitle">{{noticia_data}}</h4>
        <p>{{noticia_textocapa}}</p>
        <a href="{{URL}}/noticia/{{id}}" class="btn btn-primary">Leia mais</a>
      </div>
    </div>
  </div>
</div>
<!--//NOTÍCIAS-->
